.App-header {
	width: 100%;
	max-width: 1504px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(198, 206, 217, 0.5);
	display: flex;
	align-items: center;
}

.App-title {
	flex: 1;
	font-size: 1.5em;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

@media (max-width: 800px) {
	.App-title {
		font-size: 1.1em;
	}
}

.App-logo {
	height: 40px;
	padding-left: 10px;
}

.App-author {
	padding-right: 16px;
}

.App-author-image {
	height: 45px;
}
